<%= form_with(model: [ @customer, @customer.reservations.build ], local: true) do |form| %>
    <p>
        <%= form.label :date %><br>
        <%= form.text_field :date %>
    </p>
    <p>
        <%= form.submit %>
    </p>
<% end %>