<p>
  <strong>Customer ID:</strong>
  <%= reservation.customer.id %>
</p>
 
<p>
  <strong>Comment:</strong>
  <%= reservation.date %>
</p>
<p>
  <%= link_to 'Destroy Comment', [reservation.customer, reservation],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</p>